.git
.github
.ci
__pycache__/
*.py[cod]
*.log
venv*/
.venv/
.vscode/
.idea/
/temp/
/user/
/output/*
/models/**/*.safetensors
/models/**/*.ckpt
/models/**/*.pt
/models/**/*.pth
/models/**/*.bin
/models/**/*.gguf
/models/**/*.sft
